

textarea{
  resize: vertical;
  overflow-y: scroll;
  width:28vw;
 min-height: 29vh;
 margin:0;
 background-color:#dfc6ec;
 outline: none;
 position: relative;
 z-index:2;
}
.editorContainer {
 border: 1px solid black;
  width:fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  height:fit-content;
  margin-top: 2vh;
}
h3{
  background-color: #9340bf;
  border: 1px solid black; 
}
.preview{
  width: 45vw;
  min-height: 50vh;
  border: 1px solid black;
  background-color: #dfc6ec;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  z-index:1;
  margin-bottom: 2vh;
}
#preview {
  overflow-wrap: break-word;
}
